<!DOCTYPE html>

<html lang="{{ .Lang }}">

   <head>
      {{ partial "head-meta.html" . }}

      {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
      {{ end }}

      <link rel="canonical" href="{{ .Permalink }}">

      {{ if .Site.Params.bookingEngineURL }}
      <link rel="prefetch" href="{{ .Site.Params.bookingEngineURL }}">
      {{ end }}

      {{ if .Params.meta_title }}
      <title>{{ .Params.meta_title }}</title>
      {{ else }}
      <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
      {{ end }}

      {{ "<!-- combined, minified CSS -->" | safeHTML }}


      <style>{{ partial "build.css" | safeCSS }}</style>

      {{ template "_internal/google_analytics_async.html" . }}
      
      {{ partial "googleTagManagerHeader.html" . }}

      {{ partial "head-custom.html" . }}
   </head>

   {{ if ne .Site.Params.suspended true }}
   <body>
         {{ partial "googleTagManagerBody.html" . }}
      <header>
         {{ partial "header.html" . }}

         {{ partial "navbar.html" . }}
      </header>

      {{ partial "page-header.html" . }}

      <div class="container">

         {{ block "main" . }}
         <!-- The part of the page that begins to differ between templates -->
         {{ end }}

      </div>
      {{ partial "footer.html" . }}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script async src="{{.Site.BaseURL}}js/app.js"></script>
      <script async src="{{.Site.BaseURL}}js/custom.js" ></script>
      {{ if ne .Params.hideBooker true }}
      {{ with .Site.Params.bookerURL }}<script async src="{{.}}"></script>{{ end }}
      {{ end }}


   </body>
   {{ else }}
   <body>
   {{ partial "suspended.html" }}
   </body>
   {{ end }}
</html>

