{{ $base := .imageBase }}
{{ $bucket := .imageBucket }}
{{ $bookingEngineURL := .bookingEngineURL }}
{{ $showHotel := .showHotel}}

{{ with .deal}}
{{ $lastValidDate := time .lastValidDate }}
{{ $startDate := dateFormat "2006-01-02" ($lastValidDate.AddDate 0 0 -2) }}
<div class="banner-promo">
    {{ if .title}}
    <h3>{{ .title | markdownify }}</h3>
    {{else}}
    <h3>{{ i18n "promotion" }}</h3>
    {{end}}

    {{ if .lastValidDate }}
    <div class="badge badge-warning itm-timer-badge d-none"><i class="fa fa-clock-o fa-lg mr-2" ></i>{{ i18n "hurryUp"}} <span class="font-weight-bold" data-countdown="{{.lastValidDate}}"></span></div>
    {{ end }}

    {{ if .description }}
    <p class="lead">{{ .description | markdownify }}</p>
    {{ else }}
    <p class="lead">
        {{ range .includesDescription }}
        <span>{{ . }}</span>
        {{ end }}
    </p>
    {{ end }}
    {{ if and $showHotel .hotel }}<div class="small">{{.hotel.name}}</div>{{end}}

    {{ if and $showHotel .hotel }}
    <a href="{{ $bookingEngineURL }}#/s/{{ .hotel.id }}/{{ i18n "roomsUri"}}/{{ $startDate }}/{{ .lastValidDate }}?r[0].adults=2&r[0].children=0" class="btn btn-primary">{{ i18n "bookNow"}}</a>
    {{ else }}
    <a href="{{ $bookingEngineURL }}#/{{ i18n "roomsUri"}}/{{ $startDate }}/{{ .lastValidDate }}?r[0].adults=2&r[0].children=0" class="btn btn-primary">{{ i18n "bookNow"}}</a>
    {{end}}
</div>
{{end}}
