<div class="banner-content{{ if eq .Params.hideBooker true }} no-widget {{ end }}{{ if eq .Params.widgetMode "vertical" }} widget-vertical {{ end }}">
	<div class="container clearfix">
      {{ if eq .Params.showPromoInBanner true }}
         {{ $promosUrl := .Site.Params.promotionsURL }}
         {{ $deals := getJSON $promosUrl }}
         {{ range first 1 (where $deals "isActive" true) }}
            {{ partial "bannerAutoDeal" (dict "deal" . "bookingEngineURL" $.Site.Params.bookingEngineURL "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket "showHotel" $.Site.Params.promotionsShowHotel) }}
         {{ end }}
      {{ else if ne .Params.hideTitle true}}
         {{ partial "page-title" . }}
      {{ end }}
      {{ if and (ne .Params.hideBooker true) (eq .Params.widgetMode "vertical") }}
      <div class="widget-container">
         <div id="rvm-booker-container" class="itm-booker itm-booker-vertical">
         </div>
      </div>
      {{ end }}
   </div>
</div>
{{ if and (ne .Params.hideBooker true) (ne .Params.widgetMode "vertical") }}
<div class="widget-horizontal widget-container widget-sticky">
   <div class="container">
      <div id="rvm-booker-container" class="itm-booker itm-booker-horizontal">
      </div>
   </div>
</div>
{{ end }}